.sidebar {
  position: fixed;
height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 100vh;
  background-color: #F4DAFD;
  color: #181717;

  z-index: 999;
}
.mat-expansion-panel {
  background: #F4DAFD;
  height: auto;
}
img{
  width:50% ;
  height:50%;
}
.sidebar-header {

  text-align: center;

}
.mat-icon{
padding-top: 1%;
height: 25px;
width: 28px;
}
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: auto;
}

.nav-item {
  margin-top: 10px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;


letter-spacing: 0.02em;
}

.nav-link {
  display: block;
  padding: 10px;
  color: #282a29;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #e2bedf;
}

.active {
  background-color: #e2bedf;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }
  .mat-icon{
    padding-top: 2%;
    height: 24px;
    width: 60px;
    margin-right: 3%;
    }
  .wrapper {
    flex-direction: row;
  }
  .content {
    margin-left: 255px;
  }
  .nav-item{
    font-weight: 50px;
font-size: 0px;
line-height: 14px;
margin-right:5%;
  }
img{
  width: 85px;
  height: 100px;
  align-items: center;
}
}
