/*.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: #4E7D64;
  color: white;
  text-align:center;

  }
.copyright{
 margin-bottom: 0;
 padding-top:3%;
}
.icons{
  padding-top: 0%;
padding-left: 50%;
}
*/.footer {
  position: relative;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4E7D64;
  width: 100%;
}

.copy-right {
  text-align: center;
  color: white;
  flex: 1;
  margin-left: 30%;
}
.icon {
  color: #3b5998; /* Facebook blue */
  margin-left: 10px;
  font-size: 24px;
}



.icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.icons a {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }

    .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    }
  }
