<div class="footer">
  <div class="copy-right">© 2023. All rights reserved by ToyTroc <a style="color:rgb(166, 166, 244);"href="/legalmention"> Legal Mentions</a></div>

  <div class="icons">
    <a href="mailto:amenitlili20@gmail.com">
      <i class="far fa-envelope" style=" color: #891012;"></i>
      <span style=" color: white;"> Click to send us mail</span>
    </a>

  </div>
  <ul>
    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</div>
