<div class="footer">
  <div class="copy-right">© 2023. All rights reserved by ToyTroc</div>
  <div class="icons">
    <a href="mailto:amenitlili20@gmail.com">
      <i class="far fa-envelope" style=" color: #891012;"></i>
      <span style=" color: white;"> Click to send us mail</span>
    </a>
    <a href="https://www.facebook.com/yourcompanyname"><i class="icon fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/yourcompanyname"><i style=" color: #fb8183;"class="icon fab fa-instagram"></i></a>
  </div>
</div>
