
<div class="container">
  <div class="card">
    <button class="back-button" routerLink="/admin/HomePage"> <mat-icon>arrow_back</mat-icon> Back to list</button><button mat-icon-button color="primary" aria-label="View"(click)="viewmore()">

    </button>

    <div class="card-body">

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <label >Title:</label>
      <input type="text" formControlName="title" />
      <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
        <div *ngIf="editForm.get('title').errors['required']" style="color:red">Title is required.</div>
      </div>

      <label >subtitle:</label>
      <input type="text" formControlName="subtitle" />
      <div *ngIf="editForm.get('subtitle').invalid && (editForm.get('subtitle').dirty || editForm.get('subtitle').touched)">
        <div *ngIf="editForm.get('subtitle').errors['required']" style="color:red">Subtitle is required.</div>
      </div>


    <label>Description:</label>
    <textarea formControlName="description"></textarea>
    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
      <div *ngIf="editForm.get('description').errors['required']"style="color:red">Description is required.</div>
    </div>

    <label>Banderol image:</label>
    <input type="file" (change)="onFileSelect($event)" enctype="multipart/form-data" />
      <div *ngIf="editForm.get('photo')"style="color:red"></div>
    <button type="submit" class="btn btn-primary">Update Home Page section 1</button>
  </form>
    </div></div></div>
  
