<div class="header">
  <button mat-icon-button  [matMenuTriggerFor]="menu1" style="margin-top:5px;" ><mat-icon>circle_notifications</mat-icon></button>
  <mat-menu #menu1="matMenu"style="width:15px;height:10px;">
    <button mat-menu-item>first notification</button>
    <button mat-menu-item >second notification</button>
  </mat-menu>
  <button class="btt" mat-icon-button [matMenuTriggerFor]="menu"  style="margin-top:5px;"><mat-icon>account_circle</mat-icon></button>
  <mat-menu #menu="matMenu"style="width:15px;height:10px;">
    <button mat-menu-item routerLink="/profile"  routerLinkActive="active" class="nav-link"><mat-icon>account_box</mat-icon>{{ username }}</button>
    <button mat-menu-item href (click)="logout()"*ngIf="isLoggedIn"  class="nav-link" ><mat-icon>input</mat-icon> logout</button>
  </mat-menu>
  <span class="username">Admin</span>
 </div>
