<app-header></app-header>
<div class="container">
  <div >

    <h1 class="text">About Us<img src="../../assets/images/aboutuss (2).jpg" width="28%" style="padding-left: 3%;"></h1>
<p style="color: rgb(66, 64, 64);">We are ToyTroc a tunisian website that brings toys choices to you</p><p> and give you the chance to exchange your child old toys or sell them here!</p>
<p style="padding-top: 3%;">Explore our articles and find the perfct toy for your child by visiting the article section: <button routerLink="/news"><a  >visit</a></button></p>

<p style="padding-top: 3%;">We also provide some news about toys, child and play therapy</p>
<p>Make sure to visit our News section: <button routerLink="/news"><a  >visit</a></button></p>


  </div>
<div style="margin-top: 17%;">
<app-animated-toy></app-animated-toy>
</div>
</div>

<app-footer></app-footer>
