<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" [src]="article.image" alt="{{article.title}}" />
    </div>
    <h2>{{article.user.username}}</h2>
    <div class="col-md-6">
      <h2 class="mb-3">{{article.title}}</h2>
      <p>{{article.description}}</p>
      <ul>
        <li><strong>Exchange:</strong> {{article.exchange}}</li>
        <li><strong>Price:</strong> {{article.price}}</li>
        <li><strong>Category:</strong>{{article.category.nom}}</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
