<app-header-test></app-header-test>
<div class="container">
  <h1>{{ pageTitle }}</h1>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title">
      <div *ngIf="articleForm.get('title').invalid && articleForm.get('title').touched" class="invalid-feedback">
        Title is required
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" rows="3"
        placeholder="Enter description"></textarea>
      <div *ngIf="articleForm.get('description').invalid && articleForm.get('description').touched"
        class="invalid-feedback">
        Description is required
      </div>
    </div>
    <div class="form-group">
      <label for="exchange">Exchange</label>
      <input type="text" class="form-control" id="exchange" formControlName="exchange" placeholder="Enter exchange">
      <div *ngIf="articleForm.get('exchange').invalid && articleForm.get('exchange').touched" class="invalid-feedback">
        Exchange is required
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" formControlName="price" placeholder="Enter price">
      <div *ngIf="articleForm.get('price').invalid && articleForm.get('price').touched" class="invalid-feedback">
        Price is required
      </div>
    </div>
    <div class="form-group">
      <label for="categoryId">Category</label>
      <select class="form-control" id="categoryId" formControlName="categoryId">
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.nom }}</option>
      </select>
      <div *ngIf="articleForm.get('categoryId').invalid && articleForm.get('categoryId').touched"
        class="invalid-feedback">
        Category is required
      </div>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" (change)="onFileChanged($event)">
      <div *ngIf="articleForm.get('image').invalid && articleForm.get('image').touched" class="invalid-feedback">
        Image is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<app-footer></app-footer>
