.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin-bottom:8%;
  margin-top: 5%;

}

.card {
  max-width: 900px;

  width: 100%;
  background-color: rgb(254, 217, 252);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-header {
  padding: 10px;
}

.back-button {
  background-color: rgb(231, 193, 211);
  border: none;
  cursor: pointer;
  width: 20%;
  text-align: left;
  color:#4E7D64;
  padding-top: 5px;
  padding-bottom: 8px;
}
.back-button mat-icon{
  padding-top: 5px;
  padding-bottom: 7px;
}
.back-button:hover{
  background-color:rgb(208, 164, 184) ;
}
.card-body {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.details-container {
  flex: 1;
}

.article-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.article-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.details-container{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  color:#606260;

}
.details-container h2{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 40px;
  color:#4b4e4c;

}
.details-container h1{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-size: 26px;
  line-height: 40px;
  color:#4e4e4e;

}
.details-container h3{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 40px;
  color:#565756;

}
@media only screen and (max-width: 790px) {
  .container{
    margin-bottom: 5%;
    height: auto;
    margin-top: 1%;

  }
}
