<app-header-test></app-header-test>
<img [src]="Contact.imagedataUrl" class="banderol" >



<div class="container">
  <div class="top-middle">
    <h1 class="block-effect" style="--td: 1.2s">
      <div class="block-reveal" style="--bc: #d7c2d3; --d: .1s">{{Contact.title}} </div>

    </h1>


    <p>{{Contact.description}}</p></div>
    <div class="search-container">
      <mat-form-field>
        <input matInput type="text" placeholder="Search article" [(ngModel)]="searchQuery">
        <button mat-icon-button matSuffix (click)="searchArticle()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <select [(ngModel)]="selectedCategory" placeholder="Select Category" (change)="selectedCategory ? searchArticleByCategory(selectedCategory) : searchArticle()"
  class="select-box">
  <option (click)="showAllCategories()"value="">Select category please</option>
  <option *ngFor="let category of categoriesList" [value]="category.nom">{{category.nom}}</option>
</select>
<button mat-button routerLink="/create"  routerLinkActive="active"style="background-color:rgb(238, 195, 238); color:darkslategray;margin-left:10px;margin-bottom:10px"><mat-icon>add_box</mat-icon>Create</button>




   <!-- <div class="example-wrapper" style="margin-left: 8%; margin-bottom:2%">
        <kendo-label style="font-family: 'Jost';
        font-style: normal;" text="Choose category here:">
          <kendo-multiselect
            #multiselect
            [data]="data"
            [filterable]="true"
            textField="text"
            valueField="value"
          >
          </kendo-multiselect>
        </kendo-label>
      </div>-->
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let article of articlesList.reverse() | paginate: { itemsPerPage: 9, currentPage: p }">
        <div class="card" style="height:450px;">

          <img [src]="article.imageDataUrl" class="card-img-top" alt="..." style=" display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;height:40%;padding-top:10px">
          <h5 class="card-title"><img [src]="article.user.imagedataUrl || '../../assets/images/anonymoususer.jpg'" alt="Profile Picture" > {{ article.user.username }}</h5>
          <div class="card-body">
            <h5 class="card-text truncate">Price : {{ article.price}} dinars</h5>
            <h5 class="card-text truncate">Accept exchange: {{ article.exchange }}</h5>

            <button class="btt" (click)="viewmore(article.id)">See details</button>
          </div>
        </div>
      </div>
    </div>
</div>
 <div style="margin-left: 40%;"><pagination-controls (pageChange)="p = $event" ></pagination-controls></div>
<app-footer></app-footer>
