.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-top: 2%;
padding-left: 25%;
padding-right: 13%;
}

.card {

  width: 100%;
  margin-bottom: 20px;


}
.card:hover{
  transform: scale(1.05); /* increase size of card on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-image {
  flex-basis: 30%;
  margin-right: 20px;
}

.card-image img {
  max-width: 100%;
}

.card-content {

  flex-basis: 100%;
  padding-left: 2%;
}

.card-content h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .card {
    width: calc(33.33% - 20px);
  }
}
h3{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 33px;
margin-bottom:3%;
  text-align: left;
  /* identical to box height */


  /* neutral-800 */

  color: #c899af;
}
th, td{
  margin-left: 10%;
  width: 30%;
  text-align: center;

}
.container{
  padding-left: 10%;
  margin-top: 2%;
  align-items: center;
}
.table-responsive {

  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


button , mat-icon{
color:rgb(241, 79, 79);
}
tr:hover td {

  filter:grayscale(100%)
}

thead {
  text-align: center;
  background-color: #e7c0d2;
  color: rgb(42, 36, 36);
  padding-bottom: 2%;
  }
  td, th {
    padding: 10px;
    text-align: center;
    color: black;
  }
  td:nth-child(5) {
    width: 50%;
  }
  td {
    border-top: 1px solid rgb(176, 175, 175);
  }
tr, th{
  border-top: 1px solid rgb(165, 165, 165);
}
th{
  border-top: 1px solid rgb(177, 177, 177);
}
td, img{
  border-radius: 50%;
  width:20%;
  height: 5%;
}
