.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-top: 2%;
padding-left: 25%;
padding-right: 13%;
}

.card {

  width: 100%;
  margin-bottom: 20px;


}
.card:hover{
  transform: scale(1.05); /* increase size of card on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-image {
  flex-basis: 30%;
  margin-right: 20px;
}

.card-image img {
  max-width: 100%;
}

.card-content {

  flex-basis: 100%;
  padding-left: 2%;
}

.card-content h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .card {
    width: calc(33.33% - 20px);
  }
}
h3{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 33px;
margin-bottom:3%;
  text-align: left;
  /* identical to box height */


  /* neutral-800 */

  color: #c899af;
}
th, td{
  margin-left: 10%;
}
.container{
  padding-left: 10%;
  margin-top: 2%;
  align-items: center;
}
.table-responsive {

  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.btn-hover {
  margin-left: 50%;
  background-color:#7d3355;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 33px;
}

.btn-hover:hover {
  background-color: rgb(197, 40, 40);
  color: rgb(244, 163, 163);
  border: 1px solid white;
}
