<div class="card-container">
  <div class="card">
    <div class="card-image">
      <img src="../../assets/images/u_shopping-bag.png" alt="Card Image">
    </div>
    <div class="card-content">
      <h2>Total articles</h2>
      <p>{{ articleCount }} Articles</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../assets/images/u_users-alt.png" alt="Card Image">
    </div>
    <div class="card-content">
      <h2>Total accounts</h2>
      <p>{{ usercount }} Accounts</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../assets/images/u_list-ui-alt.png" alt="Card Image">
    </div>
    <div class="card-content">
      <h2>Total News</h2>
      <p>{{newsCount}}</p>
    </div>
  </div>
</div>

<h2 style="margin-left: 20%;">We have {{counter}} new users for this week</h2>

<table class="table-responsive" style="margin-left: 20%;">
  <thead>
    <tr>
      <th>Date</th>
      <th style="padding-left:30%">New users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let newUserCount of newUserCounts">
      <td >{{ newUserCount.date }}</td>
      <td style="padding-left: 40%;">{{ newUserCount.count }}</td>
    </tr>
  </tbody>
</table>

<div class="container">
  <h3 >Accounts</h3>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>username</th>
        <th>email address</th>
        <th>creation date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt }}</td>
        <td>
          <button class="btn-hover" (click)="openConfirmationDialog(user.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
