<div>
  <mat-toolbar color="primary" class="t mat_login_page">
    <mat-toolbar-row class="center-row">
      <a href=""><span><img src="../../assets/images/logo.png" style=" width: 40%;"></span></a>



    </mat-toolbar-row>
  </mat-toolbar>

 <div class="login-page">
    <div class="form">
      <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
        <div class="container" style="align-items:center;"><label class="lab1">Sign in</label>
        <label class="lab2">Sign in and start exchanging and selling toys!</label></div>
        <div class="align">
        <input type="text" placeholder="username" required
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
      />
      <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
        Username is required!
      </div>
      <div class="password-container">
        <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.errors }"

              />
        <button type="button" class="btn-password-toggle" (click)="togglePasswordVisibility()"
                style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 10;background:transparent; color:white">
          <span class="password-icon" [class.hide-password]="showPassword">
            <i class="fa fa-eye-slash"></i>
          </span>
          <span class="password-icon" [class.hide-password]="!showPassword">
            <i class="fa fa-eye"></i>
          </span>
        </button>
      </div>
      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
        <button class="btt">login</button>
        <p class="message">Not registered? <a href="signup">Create an account</a></p>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
    </div>
  </div>
  <div class="footer" #footer>
   <img  height="70%"  width="80%"src="../../assets/images/icontoy.png">
  </div>
