<h2>Edit News</h2>
<div class="card-container">
  <div class="card">
    <button class="back-button" routerLink="/admin/newsList">  <mat-icon>arrow_back</mat-icon> Back to news List</button><button mat-icon-button color="primary" aria-label="View">

    </button>


      <div class="card-body">
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Title:</label>
    <input type="text" formControlName="title" />
    <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
      <div *ngIf="editForm.get('title').errors['required']" style="color:red">Title is required.</div>
    </div>
  </div>
  <label>Description:</label>
  <textarea formControlName="description"></textarea>
  <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
    <div *ngIf="editForm.get('description').errors['required']"style="color:red">Description is required.</div>
  </div>
  <label>Choose new picture if you want:</label>
  <input type="file" (change)="onFileSelect($event)" enctype="multipart/form-data" (change)="showPreview($event)"/>
    <div *ngIf="editForm.get('photo')"style="color:red"></div>
  <button type="submit" class="btn btn-primary">Update News Item</button>
</form>
  </div></div>

  </div>
