<h2>Edit News</h2>
<div class="card-container">
  <div class="card">
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Title:</label>
    <input type="text" formControlName="title" />
    <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
      <div *ngIf="editForm.get('title').errors['required']" style="color:red">Title is required.</div>
    </div>
  </div>
  <textarea formControlName="description"></textarea>
  <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
    <div *ngIf="editForm.get('description').errors['required']"style="color:red">Description is required.</div>
  </div>

  <input type="file" (change)="onFileSelect($event)" enctype="multipart/form-data"/>
    <div *ngIf="editForm.get('image')"style="color:red"></div>
  <button type="submit" class="btn btn-primary">Update News Item</button>
</form>
  </div></div>
<button mat-icon-button color="primary" class="back-btn" aria-label="Go back" matTooltip="Go Back" style="margin-left:41%; width:30%" routerLink="/admin/newsList">
  <mat-icon>arrow_back</mat-icon>
 Go back to news List
</button>
