<app-header-test></app-header-test>
<div class="legal-mentions-container">
  <div class="container_width">
  <img height="20%" width="30%" src="../../assets/images/logo.png">
  <div class="information-container">
    <h2 style="margin-top: 2%;">Owner of Website</h2>
    <img [src]="Contact.imagedataUrl">
    <p>Name: {{Contact.title}}</p>
    <p>Email:{{Contact.description}} </p>
    <p>Address: Monastir,Tunisia</p>
    <h2>Creator of Website</h2>
    <img src="../../assets/images/me.jpg">
    <p>Name: Ameni Tlili</p>
    <p>Email: amenitlili20@gmail.com</p>
    <p>Address: Monastir,Tunisia</p>
    <p>Phone Number: 51086630</p>
    <p>Nation: Tunisia</p>
  </div>
  </div>

</div>
<section class="trial-block shadow3" id="ContactUs">
  <div class="height450">
     <div class="section-title text-center">

        <h2>Find our website social links here:</h2>
        <span class="section-title-line section-title-line"></span>
     </div>
      <div class="social-overlap process-scetion mt100">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-md-10">
                   <div class="social-bar">
                       <div class="social-icons mb-3 iconpad text-center">


                           <a  class="slider-nav-item"><i class="fab fa-facebook"></i></a>
                           <a  class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
                           <a  class="slider-nav-item"><i class="fab fa-twitter"></i></a>
                           <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                           <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
                           <a  target="_blank" class="slider-nav-item"><i class="fab fa-pinterest"></i></a>
                           <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-skype"></i></a>
                           <a href="#" class="slider-nav-item"><i class="fab fa-youtube"></i></a>

                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
  </div>
</section>
<app-footer></app-footer>
