<app-header-test></app-header-test>
<div class="legal-mentions-container">
  <div class="container_width">

  <div class="information-container">
    <h1>Privacy policy</h1>
    <h2 style="margin-top: 2%;">This website is owned by {{Contact.title}}</h2>
    <p>email: {{Contact.description}} </p>
    <img [src]="Contact.imagedataUrl">

    <h2>Information we collect</h2>

    <p>We respect the data privacy and we protect the user's data, we have acces to the userId when
       he logged in and only to the information he provide us with.</p>
       <h2>Cookies</h2>

    <p>We actually don't use any cookies right now but if we will , we will notify users and get their permission first.
    </p>
  </div>
  </div>

</div>
<section class="trial-block shadow3" id="ContactUs">
  <div class="height450">
     <div class="section-title text-center">

        <h2 style="text-align: center;">Find us!</h2>
        <span class="section-title-line section-title-line"></span>
     </div>
      <div class="social-overlap process-scetion mt100">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-md-10">
                   <div class="social-bar">
                       <div class="social-icons mb-3 iconpad text-center">


                           <a  class="slider-nav-item"><i class="fab fa-facebook"></i></a>
                           <a  class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
                           <a  class="slider-nav-item"><i class="fab fa-twitter"></i></a>
                           <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                           <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
                           <a  target="_blank" class="slider-nav-item"><i class="fab fa-pinterest"></i></a>
                           <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="slider-nav-item"><i class="fab fa-skype"></i></a>
                           <a href="#" class="slider-nav-item"><i class="fab fa-youtube"></i></a>

                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
  </div>
</section>
<app-footer></app-footer>
