<!--<div class="chart-container" style="padding-left: 30%;">
  <canvas id="canvas"></canvas>
</div>-->
<app-calendar></app-calendar>
<div class="card-container">
  <div class="card">
    <div class="card-image">
      <img src="../../assets/images/u_shopping-bag.png" alt="Card Image">
    </div>
    <div class="card-content">
      <h2>Total articles</h2>
      <p>{{ articleCount }} Articles</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../assets/images/u_users-alt.png" alt="Card Image">
    </div>
    <div class="card-content">
      <h2>Total accounts</h2>
      <p>{{ usercount }} Accounts</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../assets/images/u_list-ui-alt.png" alt="Card Image">
    </div>
    <div class="card-content">
      <h2>Total News</h2>
      <p>{{newsCount}}</p>
    </div>
  </div>
</div>

<h3>
<span style="color:#505151"> We have </span> {{counter}} new users&nbsp;<span style="color:#505151"> for this week</span>
</h3>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>New users number</th>

      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let newUserCount of newUserCounts">
        <td >{{ newUserCount.date }}</td>
        <td >{{ newUserCount.count }}</td>
      </tr>
    </tbody>

</table>
</div>
