<div style="background-color: #66947b">
  <ngb-carousel
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    [interval]="12000"
    [keyboard]="true"
    [activeId]="'secondSlide'"
  >
    <ng-template ngbSlide *ngFor="let article of articlesList.slice(0, 4); let i = index">
      <div class="row">
        <div class="col-md-6">
          <div class="picsum-img-wrapper">

              <img class="im" [src]="article.imageDataUrl" [alt]="'Angular Carousel ' + (i  + 1)" width="100%" height="10%"(click)="viewmore(article.id)">

            <h3 style="font-size: 24px; color: white;">{{ article.title }}</h3>
          </div>
        </div>
        <div class="col-md-6" *ngIf="i + 2 < articlesList.length">
          <div class="picsum-img-wrapper">

              <img class="im" [src]="articlesList[i + 2].imageDataUrl" [alt]="'Angular Carousel ' + (i + 2)" width="100%" height="10%" (click)="viewmore(articlesList[i * 2 + 2].id)">

            <h3 style="font-size: 24px; color: white;">{{ articlesList[i + 2].title }}</h3>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
