

<h2 style="text-align:center;padding-top:3%">Edit Home Page</h2>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of List">
      <td>
        <img [src]="item.imageDataUrl" class="card-img-top" alt="..." style=" display: block;
          margin-left: auto;
          margin-right: auto;
          width: 40%;
          margin-top:2%">
      </td>
      <td>{{ item.title }}</td>
      <td>{{ item.subtitle }}</td>
      <td>
        <p class="card-text truncate" [ngClass]="{'expanded': item.expanded}">
          {{ item.description }}
          <span *ngIf="!item.expanded">...</span>
        </p>
      </td>
      <td class="action">
        <button mat-icon-button color="primary" aria-label="View"(click)="viewmore()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Edit" (click)="edit(item.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
