.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 2px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b";
  align-items: start;
}
.item1 {
  grid-area: a;

}
.item2 {
  grid-area: b;
  background-image:url('../../assets/images/Vector.png');
  background-repeat: no-repeat;
  background-size: 65% 91%;
  background-position-x: right;
}
.grid-item {


  padding: 20px;
  font-size: 30px;
  text-align: center;

}
img{

display:-webkit-box;
  margin-left: auto;
  padding-right: 20%;
  padding-top: 6%;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.itemm{
  padding-top: 20%;
  padding-left: 10%;
  font-size: 40px;
  text-align: center;
  background-image:url('../../assets/images/vector2.png');
  background-repeat: no-repeat;
  background-size: 60% 95%;
  background-position-x: left;
  background-position-y: left;


}
.green{
  position: absolute;
width: 100%;
height: 15%;
background-color: #4E7D64;
color: white;
text-align:right;
padding-right: 10%;
padding-top: 1%;
margin-bottom: 50%;
}
.container-fluid {
  display: flex;
  flex-direction: column;

  background-color: #4E7D64;
  width: 100%;
  height: 150px; /* Optional: Set the container height to 100% of viewport height */
}

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 15%; /* Set the width of each image element to 25% of the container */
  padding: 5px; /* Optional: Add some padding to the image elements */
}

.categories-container {
  margin-top: auto; /* Push the categories container to the bottom of the container */
}

.category {
  width: 10%; /* Set the width of each category element to 25% of the container */
  padding: 10px; /* Optional: Add some padding to the category elements */
}

.card {
  /* Add shadows to create the "card" effect*/
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  width: 5%;
  height: fit-content;
  align-items: center;


}
 On mouse-over, add a deeper shadow
.card:hover {
  box-shadow: 0 8px 16px 0 white;
}


.item3 {
  grid-area: a;
}
.item4 {
  grid-area: b;
}
.item5 {
  grid-area: c;
}
.item6 {
  grid-area: d;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  background-color: #4E7D64;
  width: 100%;
  height: 150px;


}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
}

@media only screen and (min-width: 768px) {
  .cards {
    flex: 1;
    margin-right: 50%;
    margin-top: 1%;
  }
}

.card {
  display: flex;
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: 0%;
  }
}

.card img {
  width: 40%;
  height: auto;
  margin-right: 10px;
}

.label {
  font-weight: bold;
}

.text {
  padding: 20px;

margin-left: 50%;
  color: white;
}
/* second div*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section {

  flex-basis: 45%;
  text-align: center;
margin-left: 2%;

}

.left-section h1 {

  font-family: 'Jost';
font-style: normal;
font-weight: 150;
font-size: 100px;
line-height: 70px;
text-align: left;
color:  #4E7D64;
margin-top: 1%;
}

.left-section img {
  max-width: 100%;
  height: auto;
  align-items: left;
}
.h3{
  padding-top: 20%;
}
.right-section {
  flex-basis: 45%;
  text-align: center;
  padding-top: 10%;
}

.right-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

.right-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.right-section img {
  max-width: 100%;
  height: auto;
}
/* view button*/

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-size: 30px;
    color: white;
    background: #CDA7C6;
    transition: 1s;
    box-shadow: 6px 6px 0 #ad8fa8;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #8ed5af;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg)
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 20%;
  }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #8ed5af;
    }
    100% {
        fill: white;
    }
}
