<app-header></app-header>
<section class="u-clearfix u-image u-section-1" id="sec-ff50" data-image-width="1105" data-image-height="562">
<div class="u-clearfix u-sheet u-sheet-1">




<div class="grid-container">
  <div class="grid-item" class="itemm" >


    <h3 style="color:#505151;font-family: 'Jost';
    font-style: normal;
    font-weight: 450;
    font-size: 50px;
    line-height: 60px;">

      <span style="color:#4E7D64"> Discover</span> Toys for exchange&nbsp;
    </h3>
    <h5 style="color:#505151; margin-top:7%;font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;" > No more waisting toys!</h5>
    <p style="color:#A3A3A3;font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.22em;" > Sell old toys or exchange them now! </p>

  </div>
  <div class="grid-item"class="item2" >
    <img src="../../assets/images/toygreen-removebg-preview 1 (1).png" width="70%">
  </div>

</div>
 <!-- <div class="green" style="background-color: 4E7D64;">
<div class="grid-container">
  <div class="grid-item" class="item2">
    <h2>Find the perfect toy</h2>
    <p>Exchange or buy toys for your child </p>
  </div>
<div class="grid-item" class="item1">
    <div class="card">

      <div class="container" class="item3">
        <img src="../../assets/images/toy2.jpg" alt="Avatar"  class="center">

      </div>
      <div class="container" class="item4" style="text-align:center; padding-left:0%">
        <p style="color:black">Boat Toy</p>
        <button style="background-color:#FDC33D;width:60px;border-color:white;">more</button>
      </div>
    </div>
  </div>
  <div class="grid-item" class="item2">
    <div class="card">

      <div class="container" class="item3">
        <img src="../../assets/images/toy1.jpg" alt="Avatar"  class="center" width="100%" >

      </div>
      <div class="container" class="item4" style="text-align:center; padding-left:0%">
        <p style="color:black">Car Toy</p>
        <button style="background-color:#FDC33D;width:60px;border-color:white;">more</button>
      </div>
    </div>
  </div>
  </div>
</div>-->
<div class="container-fluid">
  <div class="cards">
    <div class="card">
      <img src="image1.jpg" alt="Image 1">
      <label>Card 1</label>
    </div>
    <div class="card">
      <img src="image2.jpg" alt="Image 2">
      <label>Card 2</label>
    </div>
    <div class="card">
      <img src="image3.jpg" alt="Image 3">
      <label>Card 3</label>
    </div>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod tincidunt nunc, id commodo risus luctus vitae. Quisque eget velit nibh. </p>
  </div>
</div>

</div>
<div class="container">
  <div class="left-section">
    <h1>EXPLORE!</h1>
    <img src="../../assets/images/parents children 1.png" alt="Image">
  </div>
  <div class="right-section">
    <h3 style="font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 50px;
    text-align:left;
    /* Dark text color */

    color:#4E7D64;"><span style="color:#2D2D2D">What’s your</span> Child’s
      Choice?</h3>
    <p>Paragraph Text</p>
    <button>Button Text</button>
    <img src="../../assets/images/Group.png" alt="Image" width="80%" height="80%">
  </div>
</div>
<app-carousel></app-carousel>
<div class="news">
  <h1>Explore News</h1>
</div>
<app-footer></app-footer>

